html, body {
    height: 150%;
}


.container-fluid {
	background-color: #22C516;
}

 .navbar-default .navbar-nav >
 .active > a:hover {

background-color: #D3FA7F;
color: white;
font-weight: bold;
line-height: 30px;
 }

.navbar-default .navbar-nav > .active .active-color > a, .navbar-default .navbar-nav >
 .active > a {
 	background-color: #D3FA7F;
 	color: white;
 }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: #22C516;
}
.navbar-default .navbar-nav > li > a {
	color:white;
	font-weight: bold;
	line-height: 30px;
}
.navbar-nav > li:visited {
	background-color: red;
}

.navbar-nav > li:hover {
background-color: #D3FA7F;
color: white;
}


.logo  {
	height: 100%;
	width: auto;
position: absolute;

right: 10px;
}

.logo:hover {
	 background-color: #FFAD00;
}

.MyContacts {
	background: white;
	margin-top: 70px;
	padding: 20px;
	width: 100%;
	height: 500px;
	position: absolute;

}

.contact-form {
	min-width: 40%;
	max-width: 60%;
	min-height: 55%;
	background: white;
	border: solid 3px blue;
	border-radius: 10px ;
	padding: 20px;
	margin-top: 5%;
}
.to-require-number {
	margin-top: 20px;
	position: relative;


}
.show-form {
	display: block;

}
.hide-form {
	display: none;
}
.MyLocation {
	
}
address {
	margin-top: 10px;
	font-size: 16px;
}

.style4 {
	visibility:  hidden;
}


.MyBiography {
	margin-top: 15%;
	vertical-align: middle;
	padding-left: 5%;
	padding-right: 5%;

}
.textmyquote {
	font-size: 12px;
}



.line-one {

 background-color: green;
 height: 20px;
 margin-top: 20px;
 width: 100%;
 position: absolute;
 
}

.wheel {
 position: absolute;
 height: 50px;
 width: 50px;

 top: 10%;
 left: 50%;
 border: 6px double #9BF33D;
 border-radius: 50%;
 background: green;
}
.timing-line {
 margin-top: 4%;
 position: relative;
 height: 70px;
 width: 100%;

}
.my-photo {
	margin-top: 5%;
}
.photo {
 position: absolute;
 height: auto;
 width: 100%;
}
.photo2 {
 position: absolute;
   height: auto;
 width: 100%;
}


.stage-of-life {

	background-color: blue;

	min-height: 150px;
	height: 250px;
	width: 100%;
	margin-top: 5%;

}
.container {
	height: 100%;
}
.block {
	height: 150%;
}
.block-skill {

}
.block-skill:hover {
	opacity: 0.4;
}
.name-section h1 {
  text-align: right;
}
.iconcompany {
  display: none;
}
.selectrow:hover .iconcompany {
  display: block !important;
}
.hobby-block{
background-color: ed;
height: 100%;


}
.inside-blockone  {

  height: 50%;
  margin-top: 60%;
  padding-left: 0;
  padding-right: 0;
}
.inside-blocktwo {

  height: 50%;
  margin-top: 10%;
  padding-left: 0;
  padding-right: 0;
}
.inside-blockthird {

  height: 50%;
  margin-top: 15%;\
  float: none;

  padding-left: 0;
  padding-right: 0;
}
.inside-blockfourth {

  height: 50%;
  margin-top: 60%;
  float: right;
  padding-left: 0;
  padding-right: 0;
}
.PhotobyHobby {
  width: 100%;
  height: 100%;\
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;

}
.PhotobyHobby:hover {
  -webkit-transform: scale(1.1,1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 750ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 1550ms;
opacity: 0.65;

}
.myblockqoute {
	margin-top: 25%;
	margin-bottom: 10%;
	background-color: white;
	margin-right: auto;
	margin-left: auto;

	float: none;

}

.hobby-video {
	margin: 40px;
	border: 3px ridge green;
	padding: 0;
	width: 80%;
	height: 100%;
}

.only-video {
	
	float: none;
	margin-left: 5%;
	margin-top: 3%;
	margin-bottom: 1%;
	
}

.close-video  {
	position: absolute;
	top: 0%;
	height: 35px;
	width: 35px;
	background-color: white;
	background-image: url(../Img/cancel.svg);
	background-position: center, center;
	background-size: cover;
	border: none;
	margin-left: 93%;
	margin-top: 2%;
}

.abouthobby {
	margin-top: 10%;
	margin-left: 15%;
	height: 45%;
	width: 60%;
	border: 4px solid green;
	padding: 4%;
	padding-top: 3%;
	text-align: center;
}
.textabouthobby {

}

.going {

	text-align: center;
}
.textabouthobby {
	text-align: justify;
}
.circle {
	background-color: red;
}
.polls {
	float: left;
	margin-top: 13%;
}
.text-poll {
	font-size: 16px;
	font-weight: bold;
}
.onlypolls {

}

.answerbox {
	border: 2px solid #ADFF2F;
	margin: 8px;
	height: 9%;
	width: 70%;
	padding-left: 5%;
	vertical-align: middle;
	display: table;


}
.answerbox:hover {
	background-color: #32CD32;
	border: 2px solid #32CD32;
	font-weight: bold;
	color: white;
	
}

.answerbox::before {
	background-color: #32CD32;
}

input[type=radio  ] {
  display      : none;
}

.answer {
font-size: 16px;
   display: inline-block;
    vertical-align: middle;
    line-height: normal;
    display: table-cell;
    vertical-align: middle;
}
.victorinbutton {
	margin-top: 6%;
	margin-left: 15%;
}

.question{
	margin-bottom: 6%;
}