.container-fluid {
	background-color: #22C516;
}

 .navbar-default .navbar-nav >
 .active > a:hover {

background-color: #D3FA7F;
color: white;
font-weight: bold;
line-height: 30px;
 }

.navbar-default .navbar-nav > .active .active-color > a, .navbar-default .navbar-nav >
 .active > a {
 	background-color: #D3FA7F;
 	color: white;
 }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: #22C516;
}
.navbar-default .navbar-nav > li > a {
	color:white;
	font-weight: bold;
	line-height: 30px;
}
.navbar-nav > li:visited {
	background-color: red;
}

.navbar-nav > li:hover {
background-color: #D3FA7F;
color: white;
}


.logo  {
	height: 100%;
	width: auto;
position: absolute;

right: 10px;
}

.logo:hover {
	 background-color: #FFAD00;
}