

<section style="height: 100%;" ng-controller="QuizController  ">
	<div class="container " style="height: 100%;" >
	<div class="polls col-md-6"  style="height: 100%;" >
	<div class="question"><p class="text-poll" > {{currentQuestion.question_text}} </p></div>
	<ng-repeat ng-repeat="item in currentQuestion.answers">
                <div  id="answer_{{item.id}}" class="answerbox" ng-click="selectrightanswer(item.id)">
                    <span class="answer">{{item.answer_text}}</span>
                    <input type="radio" name="food" value="item.id">
                </div>
            </ng-repeat>
           
            <button type="button" class="btn btn-success victorinbutton btn-lg" ng-click="pushanswer()"
  value="ADD">Відповісти!</button>

  </div>
  <div class="right-chart">
 <canvas id="pie" class="chart chart-pie right-chart" " ng-init="init()"></canvas>
 </div>
 

<div  ><img ng-src="{{CorrectImage}}" class="imagequizblock" ng-show="CorrectImage.length!=0"></div>
        
</div>





</div>

</section>
