<!DOCTYPE html>
<html ng-app ="myApp" style="height: 100%;" >
		<head>
				<title>Главная страница</title>
				<meta charset="UTF-8">



				<script src= "libraries/AngularJS/angular.min (1).js"></script>

				 <script type = "text/javascript" src = "libraries/jQuery/jquery.js"></script>

				<link rel = "stylesheet" type= "text/css" href = "libraries/Bootstrap/bootstrap-3.3.6/dist/css/bootstrap.css">

				 <link rel = "stylesheet" type = "text/css" href="Css/example.css">

				<script type = "text/javascript" src = "libraries/Bootstrap/bootstrap-3.3.6/dist/js/bootstrap.js"></script>
				<script src="libraries/ChartJs/Chart.js"></script>
 <script src="libraries/AngularChartJs/angular-chart.js"></script>

			 <script type="text/javascript" src = "Js/myApp.js"></script>
<script type="text/javascript" src="Js/Controllers/menu-controller-example.js"></script>
		</head>
		<body style="height: 100%;" >
	<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid" style="height: 60px" ng-controller="LogoController">
		<div class="navbar-header">
			<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

		<div id="navbarCollapse" class="collapse navbar-collapse" ng-controller = "phonesController">
			<ul class="nav navbar-nav standard-link">
			 <li class="active active-color" id="active-color"><a href="#" ng-click="select($event)">Про мене</a></li>
				<li class= "standard-link"><a href="#" ng-click="select($event)">Інтерактивна вікторина</a></li>
				<li class= "standard-link"><a href="#" ng-click="select($event)">Контакти</a></li>

			</ul>

				</div>

		</div  >

				 <img src="img/new-logo.png" class="img-responsive logo" ng-click="changecolor($event)">
	</div>

</nav>



<section style="height: 100%;" ng-controller="QuizController  ">
	<div class="container " style="height: 100%;" >
	<div class="polls col-md-6"  style="height: 100%;" >
	<div class="question"><p class="text-poll" > {{currentQuestion.question_text}} </p></div>
	<ng-repeat ng-repeat="item in currentQuestion.answers">
                <div  id="answer_{{item.id}}" class="answerbox" ng-click="selectrightanswer(item.id)">
                    <span class="answer">{{item.answer_text}}</span>
                    <input type="radio" name="food" value="item.id">
                </div>
            </ng-repeat>
            <div style="width: 30%; float: right; margin-top: 10%;" >
            <button type="button" class="btn btn-success victorinbutton btn-lg" ng-click="pushanswer()"
  value="ADD">Відповісти!</button>
 <canvas id="pie" class="chart chart-pie" ng-init="init()"></canvas>
 

<div ><img ng-src="{{CorrectImage}}" class="imagequizblock" ng-show="CorrectImage.length!=0"></div>
        
</div>





</div>

</section>

</body>